.largeScreenContent {
  background-color: #f5f5f5;
  text-align: center;
}

.largeScreenContent h1,
.largeScreenContent h2 {
  color: #333;
  font-size: 26px;
  margin-bottom: 10px;
}

.largeScreenContent p {
  color: #666;
  font-size: 18px;
  margin-bottom: 20px;
}

.largeScreenContent button {
  background-color: #135d8b;
  color: #f5f5f5;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  cursor: pointer;
}

.largeScreenContent button:hover {
  background-color: #8B4513;
}

.largeScreenContent .hero-banner {
  position: relative;
  background-image: url("../img/heroBannerImg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.largeScreenContent .hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.largeScreenContent .hero-content {
  position: relative;
  text-align: center;
  z-index: 1; /* Ensure the content is above the overlay */
}

.largeScreenContent .hero-title,
.largeScreenContent .hero-description {
  color: #f5f5f5;
}

.largeScreenContent .hero-title {
  font-size: 36px;
  margin-bottom: 18px;
}

.largeScreenContent .hero-description {
  font-size: 20px;
  margin-bottom: 24px;
}
/* Main Component center text block */

.largeScreenContent .center__text__block {
  text-align: center;
  margin: 0 auto;
  max-width: 80rem;
  background-color: #ffffff;
  padding: 30px; 
}

.largeScreenContent .center__text__block p {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: #202020;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; 
}

.largeScreenContent .full__width {
    background-color: #ffffff;
}

.lawnIcon {
  width: 200px;
  padding-top: 30px;
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
/* /* Grid and Grid Items Styling  */

 .MediumScreenContent .gridItem__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.MediumScreenContent .gridItem__content {
  padding: 16px;
}

.MediumScreenContent .gridItem__title {
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 1.2;
  font-size: 20px; /* Adjust the font size as desired for medium screen size */
}

.grid__title {
  padding: 30px;
}


/* Grid and Grid Items Styling for Large and XLarge Screens */

.LargeScreenContent .gridItem__image,
.LargeScreenContent .gridItem__content {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.LargeScreenContent .gridItem__title {
  font-weight: bold;
  margin-bottom: 12px;
  line-height: 1.3;
  font-size: 24px; /* Adjust the font size as desired for large and xlarge screen sizes */
}

.LargeScreenContent .grid__title {
  padding: 40px;
}
