.mobile-menu-paper {
  width: 100%;
  padding: 0;  
  margin: 0;
}

.mobile-menu-paper li {
  height: 60px;
  display: flex;
  align-items: center;
  background-color:  #164801;
  font-weight: 600;
  color: white;
  transition: background-color 0.9s, color 0.3s;
  border: solid black 0.1px; 
}

.mobile-menu-paper li:hover {
  background-color: #e0e0e0;
  color: #164801;
}

.mobile-menu-paper a {
  text-decoration: none;
  color: #e0e0e0;
}
.mobile-menu-paper ul {
  padding: 0; 
}

.MenutItems {
  display: flex;
  flex-wrap: wrap-reverse; /* Allow menu items to wrap to the next line */
  justify-content: flex-end; /* Adjust alignment as needed */
  align-items: flex-start; /* Adjust alignment as needed */
  max-width: 100%; 
}

.logo {
  display: flex;
  max-width: 70%;;
}
a {
  text-decoration: none;
  color: inherit; 
}