.SmallScreenContent {
  background-color: #f5f5f5;
  text-align: center;
}

.SmallScreenContent h1,
.SmallScreenContent h2 {
  color: #333;
  margin-bottom: 10px;
}

.SmallScreenContent h1 {
  font-size: 26px;
}

.SmallScreenContent h2 {
  font-size: 24px;
}

.SmallScreenContent p {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.SmallScreenContent button {
  background-color: #135d8b;
  color: #f5f5f5;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.SmallScreenContent button:hover {
  background-color: #8B4513;
  color: #f5f5f5; 
}

.SmallScreenContent .hero-banner {
  position: relative;
  background-image: url("../img/heroBannerImg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.SmallScreenContent .hero-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.SmallScreenContent .hero-content {
  position: relative;
  text-align: center;
  z-index: 1; /* Ensure the content is above the overlay */
}

.SmallScreenContent .hero-title,
.SmallScreenContent .hero-description {
  color: #f5f5f5;
}

.SmallScreenContent .hero-title {
  font-size: 36px;
  margin-bottom: 16px;
}

.SmallScreenContent .hero-description {
  font-size: 20px;
  margin-bottom: 24px;
}

/* /* Main Component center text block  */

.SmallScreenContent .center__text__block {
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
}

.SmallScreenContent .center__text__block p {
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #202020;
  -webkit-font-smoothing: antialiased;
}

.SmallScreenContent .center__text__block {
    max-width: 100%;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lawnIcon {
  width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 20px; 
}

.iconContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

/* /* Grid and Grid Items Styling  */

 .SmallScreenContent .gridItem__image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

 .SmallScreenContent .gridItem__content {
  padding: 16px;
}

.gridItem__title {
  font-weight: bold;
  margin-bottom: 8px;
  line-height: 1.2;
}

.grid__title {
  padding: 30px; 
}